generated/
local/

*.candy.*
.goldens/

# Valgrind
cachegrind.out.*
callgrind.out.*
vgcore.*

# ANTLR
.antlr/

# direnv
.direnv/

# Rust
target

# Perf
**/perf.data
**/perf.data.old

# Flamegraph
*.svg

# Dart/Pub
**/doc/api/
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.test_coverage.dart
*.g.dart
*.freezed.dart
coverage/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# LLVM Artefacts
*.o
*.a
*.ll
*.s
